<div>
  <h2 id="page-heading" data-cy="PostStatusHeading">
    <span jhiTranslate="webFluxApp.postStatus.home.title">Post Statuses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="webFluxApp.postStatus.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-post-status"
        [routerLink]="['/post-status/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="webFluxApp.postStatus.home.createLabel">Creeare o nouă entitate Post Status</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (postStatuses().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="webFluxApp.postStatus.home.notFound">No Post Statuses found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="webFluxApp.postStatus.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (postStatus of postStatuses(); track trackId(postStatus)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/post-status', postStatus.id, 'view']">{{ postStatus.id }}</a>
              </td>
              <td>{{ postStatus.status }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/post-status', postStatus.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vizualizare</span>
                  </a>

                  <a [routerLink]="['/post-status', postStatus.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editare</span>
                  </a>

                  <button type="submit" (click)="delete(postStatus)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Ștergere</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
