<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-post-heading" data-cy="PostCreateUpdateHeading" jhiTranslate="webFluxApp.post.home.createOrEditLabel">
        Creeare sau editare Post
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="webFluxApp.post.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let titleRef = editForm.get('title')!;
        <div class="mb-3">
          <label class="form-label" for="field_title" jhiTranslate="webFluxApp.post.title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (titleRef.invalid && (titleRef.dirty || titleRef.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Acest câmp este necesar.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_content" jhiTranslate="webFluxApp.post.content">Content</label>
          <input type="text" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
        </div>

        @let createTimeRef = editForm.get('createTime')!;
        <div class="mb-3">
          <label class="form-label" for="field_createTime" jhiTranslate="webFluxApp.post.createTime">Create Time</label>
          <div class="d-flex">
            <input
              id="field_createTime"
              data-cy="createTime"
              type="datetime-local"
              class="form-control"
              name="createTime"
              formControlName="createTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createTimeRef.invalid && (createTimeRef.dirty || createTimeRef.touched)) {
            <div>
              @if (editForm.get('createTime')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Acest câmp este necesar.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createTime')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Acest câmp trebuie să conțină data și ora.</small
              >
            </div>
          }
        </div>

        @let updateTimeRef = editForm.get('updateTime')!;
        <div class="mb-3">
          <label class="form-label" for="field_updateTime" jhiTranslate="webFluxApp.post.updateTime">Update Time</label>
          <div class="d-flex">
            <input
              id="field_updateTime"
              data-cy="updateTime"
              type="datetime-local"
              class="form-control"
              name="updateTime"
              formControlName="updateTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (updateTimeRef.invalid && (updateTimeRef.dirty || updateTimeRef.touched)) {
            <div>
              @if (editForm.get('updateTime')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Acest câmp este necesar.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('updateTime')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Acest câmp trebuie să conțină data și ora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_postStatus" jhiTranslate="webFluxApp.post.postStatus">Post Status</label>
          <select
            class="form-control"
            id="field_postStatus"
            data-cy="postStatus"
            name="postStatus"
            formControlName="postStatus"
            [compareWith]="comparePostStatus"
          >
            <option [ngValue]="null"></option>
            @for (postStatusOption of postStatusesCollection; track $index) {
              <option [ngValue]="postStatusOption">{{ postStatusOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Anulare</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvare</span>
        </button>
      </div>
    </form>
  </div>
</div>
